<footer class="py-5 text-center text-body-secondary bg-body-tertiary footerCor">
    <p>Blog page by <a href="https://www.linkedin.com/in/luiz-gustavo-cardoso-resende-1596b0215/">Luiz Gustavo</a>.</p>
    <p class="mb-0"> <a href="#">Back to top</a> </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>

</html>